.fire-icon{
  font-size: 1.5rem;
  color: red;
}

.storm-icon{
  font-size: 2rem;
  color: darkblue;
}

.volcanoes-icon{
  font-size: 1rem;
  color: brown;
}

.pin-icon{
  font-size: 1rem;
  color: white;
}

.hurry-icon{
  font-size: 1rem;
  color: darkcyan;
}

.flood-icon{
  font-size: 1rem;
  color: blue;
}

.stormz-icon{
  font-size: 1.25rem;
  color: purple;
}

.wstorm-icon{
  font-size: 1.5rem;
  color: whitesmoke;
}

.firez-icon{
  font-size: 1rem;
  color: maroon;
}

.torn-icon{
  font-size: 1rem;
  color: orange;
}