.fire-icon{
  font-size: 1rem;
  color: red;
}

.storm-icon{
  font-size: 1rem;
  color: gray;
}

.volcanoes-icon{
  font-size: 1rem;
  color: black;
}

.pin-icon{
  font-size: 1rem;
  color: white;
}

.hurry-icon{
  font-size: 1rem;
  color: maroon;
}

.flood-icon{
  font-size: 1rem;
  color: blue;
}

.stormz-icon{
  font-size: 1rem;
  color: orange;
}

#wstorm icon{
  font-size: 1rem;
  color: pink;
}

#firez icon{
  font-size: 1rem;
  color: salmon;
}

#torn icon{
  font-size: 1rem;
  color: green;
}