.App {
  text-align: center;
  background-color: #caba9c;
}

a:link {
  color: #caba9c;
}

a:visited {
  color: #8a6240;
}

a:hover {
  color: white;
}

a:active {
  color: lightskyblue;
}


.app-footer{
  background-color: #4d2d18;
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  color: white;
}

.app-header {
  background-color: #102820;
  height: 1fr;
  display: grid;
}

.App-link {
  color: #004a0a;
}

.grid-bar{
  background-color: rgb(175, 215, 250);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  gap: 100px;
  font-size: 20px;
  padding-bottom: 20px;
}

.grid-container{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  grid-template-rows: auto;
  gap: 50px;
}

.grid-half{
  display:grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 10px;
  padding: 20px 20px 20px 20px;
  justify-content: space-evenly;
}

img{
  width: 100%;
  height: auto;
}

.info-list{
  text-align: left;
}

.navbar1{
  display: grid;
  grid-template-columns: auto;
}

.navbar2{
  display: grid;
  grid-template-columns: auto auto;
}

#navbar-menu ul{
  list-style: none;
  padding-left: 0px;
}

#navbar-menu li{
  display: inline;
  color:white;
}

#menutop ul {
  padding-left: 0;
  margin: 0;
}

.feed{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: left;
}

#feed ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#feed li{
  display: inline;
}

.map {
  width: 2fr;
  height: 80vh;
  position:relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-marker {
  font-size: 2rem;
  color: purple;
}

.map-loader {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height:  100vh;
  width: 100%;
}

.map-loader img{
  width: 500px;
}

.loader img {
  width: 75%;
}

.loader h1 {
  color: white;
}

.side-text-container{
  display: grid;
  height: 100%;
  grid-template-rows: 35vh 60vh;
  align-content: left;
  border-radius: 10px;
  gap: 5vh;
}

.info{
  background-color: #4C6444;
  border-radius: 10px;
  height: 100%;
}

.info-2{
  background-color: rgb(123, 242, 200);
  border-radius: 10px; 
}

.logo img{
  width: 10px;
}

.info-name{
  padding-left: 10px;
  padding-right: 10px;
}

.app-header img{
  display: inline;
}

#small-loading img{
  height: 100%;
  width: 50%;
}

.small-loading{
  justify-content: center;
}